<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 从 application.yml 读取 spring.application.name -->
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %X{tid} = SkyWalking 注入的 traceId，没有时显示空 -->
            <pattern>%d{HH:mm:ss.SSS} [%X{tid:-}] [%thread] %-5level ${appName} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
